/* GLOBAL */
*{
    box-sizing: border-box;
}

html,body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.clear {
    clear: both;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 0;  
    margin-bottom: 16px;
}
.line {
    background-image: url('../img/line.png');
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

/* HEADER */
.hearder__logoimg {
    float: left;
}

.header__sologan {
    float: right;
    margin-right: 20px;
}

.header__navbar  ul{
    list-style: none;
    border-top: 1px solid silver; 
    border-bottom: 1px solid silver;
    text-align: center;
    padding: 15px 0 ;
   
}
.header__navbar ul a {
    text-decoration: none;
    color: #636363;
    text-transform: uppercase;
    font-weight: bold;
    /* vw, vh */
    font-size: 1.3vw;
    padding: 0 0.3em;
    /* 1em = font-size: dad; */
}

.header__navbar ul li {
    display: inline;
}

.header__navbar ul li:hover {
    border-bottom: 2px solid #b31c25;
}

.header__navbar ul .active {
    border-bottom: 2px solid #b31c25;
}

/* CAROSEL */
.carosel {
    background: url('../img/slider_1.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}

/* INTRO */
.intro {
    text-align: center;
    color: #636363;
    line-height: 25px;
    padding: 0 25px;
}

/* PROGRAMS */
.programs__item {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.programs__item img {
    width: 100%;
}

.programs__item h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: red;
    text-align: center;
    margin: 10px 0 5px;
}

.programs__item p {
    color: #636363;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* NEWS */
.new__left,.new__right {
    float: left;
    width: 50%;
    padding: 0 5px;
}

.news__text img {
    width: 100%;
    display: block;
}

.news__text p {
    position: absolute;
    bottom: 8px;
    left: 0;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px 15px;
    margin: 0;
}
.news__text {
    position: relative;
}

.new__left .news__text p {
    font-size: 20px;
}

.news__small-item {
    float: left;
    width: 50%; 
    padding: 0 8.5px 10px;
}

.news__text hr {
    margin: 0;
    height: 5px;
    background-color: red;
    margin-top: 3px;
}


/* FOOTER */
.footer {
    background-color: #b31c25;
    padding: 20px 50px;
    color: white;
}

.footer img {
    float: left;
}

.footer p {
    float: right;
    width: 50%  ;
    word-spacing: 3px;
    text-align: justify;
}

