/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

h1 {
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

.section {
    padding: 80px 0;
}

.heading {
    margin-bottom: 5em;
}

.heading h2 {
    text-align: center;
    font-size: 3em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
}

.heading p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
}
/* HEAEDER */

/* Header top */
.header__top {
    padding: 10px 0;
    background: #363d41;
}

.header__top ul, .header__top p {
    margin-bottom: 0;
    padding: 0;
}

.header__top ul li{
    display: inline-block;
    margin-right: 15px;
}

.header__top .row i{
    font-size: 16px;
    text-align: center;
    line-height: 29px;
    width: 30px;
    height: 30px;
    color: white;
    transition: all .5s;
}
.header__top .row .header_topRight {
    color: white;
    text-align: right;
}
.header__top .header_topRight li {
    margin: 0;
}

.header__icon1:hover i {
    color: #527dbd;
}
.header__icon2:hover i {
    color: #007bff;
}
.header__icon3:hover i {
    color: #dd4b39;
}
.header__icon4:hover i {
    color: #0077b5;
}

/* Header bottom */
.header__bottom {
    padding: 16px 0;
}

.header__bottom h1{
    margin: 0;
}

.header__bottom .navbar {
    padding: 0;
}

.header__bottom .bg-light {
    background-color: white!important;
}



.header__bottom .navbar-light .navbar-brand {
    padding-top: 0px;
    font-size: 40px;
    color: #7f67f8 !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 0;
    margin-right: 0;
}

.header__bottom .navbar-light .navbar-brand span {
    color: #868c94;
    font-size: 30px;
    font-weight: 400;
}

.header__bottom .navbar-light .navbar-nav .nav-link {
    color: #363d41;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 15px;
    padding: 0px 0px;   
    transition: all 0.5s;
}

.header__bottom .navbar-light .navbar-nav .nav-link:hover {
    color: #7f67f8;
}

.header__bottom .navbar-light .navbar-nav .active .nav-link {
    color: #7f67f8;
}

.dropdown-menu a {
    transition: all .75s;
}

.navbar-light .navbar-toggler {
    background-color: #7f67f8;
    border-color: #7f67f8;
    color: rgba(0,0,0,.9);

}


/* Carousel */
.mergedCarousel {
    min-height: 700px;
    background: url(../images/b1.jpg);
    background-repeat: none;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
}
.mergedCarousel__content {
    padding-top: 14em;
}


.mergedCarousel__bg {
    min-height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.mergedCarousel .item {
    color: white;
    text-align: center;
}

.mergedCarousel .item h2 {
    font-size: 3rem;
    line-height: 1.4em;
    letter-spacing: .2em;
    font-weight: 400;
}

.mergedCarousel .item p {
    font-size: 15px;
    line-height: 28px;
    margin: 20px auto 40px;
    width: 84%;
    letter-spacing: 1px;
}
.mergedCarousel .item button {
    font-size: 1em;
    color: white;
    border: 2px solid #fdfdfd;
    border-radius: 0;
    padding: 8px 30px;
    letter-spacing: 1px;
    transition: all .5s;
}

.mergedCarousel .item button:hover {
    background-color: #7f67f8;
    border-color: #7f67f8;
}

.mergedCarousel .item .btn__2 {
    background-color: #7f67f8;
    border-color: #7f67f8;
}

.mergedCarousel .item .btn__2:hover{
    background-color: rgba(255, 255, 255, 0);
    border-color: #fdfdfd;
}

.mergedCarousel .item button:focus {
    box-shadow: none;
}
.mergedCarousel .owl-theme .owl-dots .owl-dot span {
    background: #7f67f8;
    width: 14px;
    height: 14px;
}
.mergedCarousel .owl-theme .owl-dots .owl-dot.active span, .mergedCarousel  .owl-theme .owl-dots .owl-dot:hover span {
    background: white;
}

.mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: -50%;
    right: 50%;
    transform: translate(50%, 50%);
}

/* What you */
.provide .bord {
    background: #e8e8e8;
    height: 1px;
    width: 75%;
    margin: 0 auto 3em;
}
.provide__item {
    text-align: center;
}

.provide__item i {
    font-size: 40px;
    color: #f97c69;
}

.provide__item h3 {
    font-size: 22px;
    color: #151515;
    letter-spacing: .075em;
    font-weight: 600;
    margin: 20px 0;
}

.provide__item p {
    font-size: 15px;
    margin: 0;
    color: #777;
    font-weight: 400;
    line-height: 1.8em;
}

.provide__content .item-2 {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

/* Sologan */

.sologan {
    background: url(../images/3.jpg);
    background-size: cover;
    background-position: bottom 240px right 20px;
}

.sologan h3{
    color: #fff;
    letter-spacing: 4px;
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}

.sologan a {
    font-size: 1em;
    color: #fff;
    background: #7f67f8;
    padding: 0.7em 2em;
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
}
.sologan a:hover {
    background: #f97c69
}

.sologan__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Star */
.stars__text h3 {
    font-size: 40px;
    width: 65%;
    text-align: center;
    line-height: 1.2em;
    margin: 0 auto;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
}

.stars__text p {
    font-size: 15px;
    color: #777;
    margin: 1em 0 5em;
    text-align: center;
}

.stars__number {
    text-align: center;
    letter-spacing: 2px;
}
.stars__number p {
    font-size: 3.5em;
    font-weight: 700;
    color: #f97c69;
    margin: 0 0 0.2em 0;
}

.stars__number h4 {
    font-size: 20px;
    color: #2c363e;
    font-weight: 600;
}

.stars__number h5 {
    font-size: 15px;
    margin-top: 0.8em;
    color: #777;
}

.stars__number h5,.stars__number h4 {
    margin-bottom: 0;
}

/* Services */
.services {
    background: url(../images/3.jpg);
    background-size: cover;
}

.services .heading p,.services .heading h2 {
    color: white;
}

.services__item {
    text-align: center;
    color: #fff;
    background-color: #f97c69;
    padding: 2.5em 2.5em;
}

.services__even {
    color: #f97c69;
    background-color: #fff;
}

.services__item i {
    font-size: 3em;
}

.services__item h3 {
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
}

/* CUSTOMER */
.customer .item {
    text-align: center;
    padding: 40px 10px;
    margin-right: 10px;
}
.customer .item img {
    border-radius: 50%;
    width: 110px;
    background: #7f67f8;
    padding: 5px;
    margin: 0 auto 0 auto;
}

.customer .item h3 {
    color: #2c363e;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 0;
    letter-spacing: 2px;
}

.customer .item p {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
    line-height: 24px;
}

.customer .owl-theme .owl-dots .owl-dot.active span,.customer .owl-theme .owl-dots .owl-dot:hover span{
    opacity: 1;
    background: #f97c69;
}
.customer .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: #f97c69;
    opacity: .5;
}

.customer .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px;
}

/* Footer */
.footer__top {
    background-color: #0b0c11;
}

.footer__subscribe {
    padding-right: 5em;
}
.footer__top h3 {
    font-size: 1.7em;
    color: #f97c69;
    margin-bottom: 1.5em;
    letter-spacing: 2px;
}

.footer__subscribe p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 2em;
    letter-spacing: 1px;
    color: #bfbfbf;
}

.footer__subscribe input {
    outline: none;
    padding: 15px 15px;
    color: #fff;
    font-size: 14px;
    width: 88%;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.22);
    letter-spacing: 2px;
}
.footer__subscribe button {
    background: #7f67f8;
    padding: 15px 19px;
    border: 1px solid white;
    color: white;

}

.footer__subscribe form {
    display: flex;
}

.footer__link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__link li {
    margin-bottom: 10px;
}

.footer__link a{
    color: #fff;
    text-decoration: none;
}

.footer__contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__contact li {
    display: flex;
    list-style-type: none;
    color: #bfbfbf;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 17px;
    align-items: center;
}
.footer__top .contact-first {
    align-items: flex-start;
} 

.footer__top .contact-first p {
    margin: 0;
}

.footer__contact i {
    color: #f97c69;
    margin-right: 13px;
}

.footer__contact a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer__bot p{
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    background: #252525;
    padding: 16px 0;
}

.footer__bot a {
    color: #fff;
    text-decoration: underline;
    transition: all .5s;
}

.footer__bot a:hover {
    color: #f97c69;
}

/* Back to top */
.backtotop {
    position: fixed;
    bottom: 7%;
    right: 2.5%;
    z-index: 99;
}
.backtotop i {
    color: #f97c69;
    font-size: 33px;
    width: 33px;
    height: 33px;
}






/* ****************************************************************************************************************/
/* Responsive */
@media screen and (max-width: 1440px) {
    .header__bottom .navbar-light .navbar-brand {
        font-size: 34px;
    }
}

@media screen and (max-width: 1024px) {
    .mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: -35%;
    }
}

@media screen and (max-width: 1080px) {
    /* Header */
    .header__bottom .navbar-light .navbar-brand {
        font-size: 32px;
    }
    
    /* Sologan */
    .sologan h3 {
        letter-spacing: 3px;
        font-size: 36px;
    }

    /* Carousel */
    .mergedCarousel .item h2 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 991.8px){
    /* HEADING */

    .heading p {
        width: 100%;
    }

    /* HEADER */
    .header__bottom #navbarNavDropdown {
        background-color: #000;
        text-align: center;
    }
    .header__bottom .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    .header__bottom .nav-item {
        padding: 10px 0;
    }

    /* Stars */
    .stars__text h3 {
        width: 100%;
    }

    /* What you */
    .provide__item h3 {
        font-size: 20px;
    }

    /* Footter */
    .footer__subscribe {
        padding-right: 1em;
    }

    /* Sologan */
    .sologan h3 {
        letter-spacing: 1px;
        font-size: 30px;
    }

    .sologan a {
        padding: 0.7em 1.3em;
    }

    /* Carousel */
    .mergedCarousel,.mergedCarousel__bg {
        min-height: 560px;
    }
    .mergedCarousel .item h2 {
        font-size: 2.3em;
        letter-spacing: .1em;
    }
    .mergedCarousel .item p {
        width: 100%;
    }

    .mergedCarousel__content {
        padding-top: 11em;
    }
    .mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: -30%;
    }
}

@media screen and (max-width: 800px){
    /* Section */
    .section {
        padding: 3em 0;
    }
    /* HEADING */
    .heading {
        margin-bottom: 3em;
    }
    .heading h2 {
        font-size: 2.7em;
        margin: 0;
    }

    /* Heading */
    .header__bottom .navbar-light .navbar-brand {
        font-size: 37px;
    }
    /* Stars */
    .stars__text h3 {
        font-size: 2.7em;
    }
    .stars__text p {
        margin: 1em 0 3em
    }
    .stars__number .number__itemNum{
        font-size: 2.8em;   
    }

}

@media screen and (max-width: 767.8px) {
    /* Carousel */
    .mergedCarousel,.mergedCarousel__bg {
        min-height: 490px;
    }
    .mergedCarousel__content {
        padding-top: 8em;
    }
    .mergedCarousel .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
    }
}

@media screen and (max-width: 736px){
    /* HEADING */
    .heading h2 {
        font-size: 2.5em;
        margin: 0;
    }
    /* Starts */
    .stars__text h3 {
        line-height: 1.1em;
    }
    .stars__number .number__itemNum{
        font-size: 2.2em;   
    }

    /* Footer */
    .footer__top h3 {
        margin-bottom: 0.5em;
    }

    /* Carousel */
    .mergedCarousel,.mergedCarousel__bg {
        min-height: 455px;
    }
    .mergedCarousel .item h2 {
        font-size: 1.6em;
    }
    .mergedCarousel .item p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    /* Carousel */
    .mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: -37%;
    }
}

@media screen and (max-width: 568px){
    /* HEADING */
    .heading h2 {
        font-size: 2.5em;
        margin: 0;
    }
    /* Stars */
    .stars__text h3 {
        font-size: 2.5em;
    }

    /* What you */
    .provide .bord {
        margin: 0 auto 2em;
    }

    .mergedCarousel,.mergedCarousel__bg {
        min-height: 420px;
    }
    .mergedCarousel__content {
        padding-top: 6em;
    }
    .mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: -30%;
    }
}

@media screen and (max-width: 480px) {
    /* Carousel */
    .mergedCarousel .item h2 {
        font-size: 1.4em;
    }
    .mergedCarousel .item p {
        margin: 10px auto 20px;
    }
    .mergedCarousel__content {
        padding-top: 5em;
    }
    .mergedCarousel, .mergedCarousel__bg {
        min-height: 390px;
    }
    .mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: -31%;
    }
}

@media screen and (max-width: 440px){
    /* HEADING */
    .heading h2 {
        font-size: 2.3em;
        margin: 0;
    }
    /* Starts */
    .stars__text h3 {
        font-size: 2.3em;
    }
    /* Header */
    .header_topLeft ul li {
        margin-right: 5px;
    }

    /* Carousel */
    .mergedCarousel .item h2 {
        font-size: 1.2em;
    }
    .mergedCarousel .item p {
        font-size: 13px;
        line-height: 23px;
    }
    .mergedCarousel, .mergedCarousel__bg {
        min-height: 370px;
    }
}

@media screen and (max-width: 414px) {
    /* Carousel */
    .mergedCarousel .item h2 {
        letter-spacing: 0em;
    }
    .mergedCarousel .item button {
        padding: 6px 15px;
        font-size: 14px;
    }
    .mergedCarousel, .mergedCarousel__bg {
        min-height: 350px;
    }
    .mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: -35%;
    }
}

@media screen and (max-width: 375px){
    /* Starts */
    .stars__number h4 {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 320px){
    /* Section */
    .section {
        padding: 2.5em 0;
    }
    /* HEADING */
    .heading h2 {
        font-size: 2em;
        margin: 0;
    }
    .heading p {
        font-size: 14px;      
    }

    /* HEADER */
    .header_topRight ul {
        display: flex;
    }


    .header_topLeft ul li {
        width: 24px;
        height: 24px
    }

    /* Starts */
    .stars__text h3 {
        font-size: 2em;
    }

    /* Footer */
    .footer__top h3 {
        font-size: 1.5em;
    }
    
    /* Carousel */
    .mergedCarousel .item h2 {
        font-size: 1em;
    }
    .mergedCarousel .item p{
        font-size: 12px;
        line-height: 20px;
    }
    .mergedCarousel .item button {
        padding: 6px 10px;
        font-size: 13px;
    }
    .mergedCarousel, .mergedCarousel__bg {
        min-height: 310px;
    }
    .mergedCarousel .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: -18%;
    }
    
}