/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
}

h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 0.8em;
    letter-spacing: 1px;
}

button {
    font-size: 17px;
    letter-spacing: 1px;
    color: #00CDCE;
    background-color: #000;
    text-align: center;
    padding: 7px 18px;
    border: 1px solid #000;
    transition: all .5s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button:hover {
    color: white;
}

a{
    text-decoration: none;
}

p {
    letter-spacing: 1px;
}

input, button, select, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* HEADER */
header {
    background-color: rgba(25, 25, 25, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;

}

.header__content ul {
    list-style: none;
}

.header__content ul li {
    display: inline;
}

.header__content ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-weight: 400;
    border-bottom: 2px solid #fff;
    padding: 10px 15px;
    margin: 0 16px;
    letter-spacing: 1px;
    line-height: 20px;
    transition: all .5s;
}
.header__content ul li a:hover {
    color: #00CDCE;
    border-color: rgba(255, 255, 255, 0);
}

.header__content ul .active a {
    border-color: rgba(255, 255, 255, 0);
}

.header__content h1 a {
    color: white;
    text-decoration: none;

}

.header__content h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 56px;
    padding-bottom: 5px;
}

.header__content h1 a span {
    color: #00CDCE;
}
#temp {
    display: none;
}

/* CAROUSEL */
.carousel__content {
    height: 100%;
}
.carousel__content .carousel__item {
    position: relative;
}

.carousel__content .carousel__item .carousel__text {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
}

.carousel__content .carousel__item img {
    width: 100%;
    display: block;
}

.carousel__content .carousel__item .carousel__text h3 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: white;
}
.carousel__content .carousel__item .carousel__text p {
    font-size: 24px;
    font-weight: 400;
    color: #d3d8d8;
    line-height: 35px;
}

.carousel .owl-theme .owl-dots .owl-dot span {
    background-color: white;
}

.carousel .owl-theme .owl-dots .owl-dot.active span {
    background-color: black;
}

.carousel .owl-theme .owl-dots{
    position: absolute;
    left: 46%;
    bottom: 110px;
}


/* ABOUT */
.about {
    text-align: center;
    padding: 70px 0;
}

.about .about__content {
    width: 75%;
    margin: 0 auto;
}

.about h3 {
    color: #00CDCE;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.8em;
}

.about p {
    margin: 5px 0 0 0;
    color: #000;
    font-size: 15px;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
}

.about__container .about__item i {
    font-size: 1.8em;
    color: #000;
	background:#fff;
    border: 1px solid #7f7777;
    cursor: pointer;
    top: 0;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    line-height:98px;
    transition: all .5s;
}

.about__container .about__item i:hover {
    color: white;
    background-color: #00CDCE;
}

.about .about__container {
    display: flex;
}

.about__container .about__item p {
    line-height: 2em;
    font-size: 15px;
    color: #7f7777;
    margin-top: 0.8em;
}

.about__text {
    margin-top: 1em;
}

/* NUMBER */
.number {
    padding: 70px 0;
    background-color: #00CDCE;
}

.number__content {
    width: 75%;
    margin: 0 auto;
}

.number__item {
    padding:0 15px;
    text-align: center;
    width: 25%;
    
}

.number__container {
    display: flex;

}
.number__item .number__itemNum {
    font-size: 56px;
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.number__item .number__itemStr {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
}

.blog {
    padding: 70px 0;
}

.blog .blog__content {
    width: 73%;
    margin: 0 auto;
}

.blog__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.blog__item {
    border-top: 5px solid #00CDCE;
    background-color: #EFEFEF;
}

.blog__item img{
    width: 100%;
}

.blog__item .blog__text {
    padding: 21px;
}

.blog__text .blog__textHead {
    font-size: 22.4px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #00CDCE;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    transition: all .5s;
}

.blog__text .blog__textHead:hover {
    color: #000;
    text-decoration: underline;
}

.blog__item .blog__text p {
    font-size: 15px;
    color: #333;
    margin: 0.5em 0em;
    line-height: 26px;
    letter-spacing: 1px;
}

.blog__item .blog__text button {
    margin-top: 1rem;
    font-size: 17px;
}
/* MODAL  phần này em chưa biết làm như thế nào nên copy tạm source code trên web nên nhiều sai sót mong mentor bỏ qua cho ạ */ 
.modal-header {
    background: #00cdce;
}
.modal-header p{
    font-size: 36.4px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: 600;
    background: #00cdce;
    margin: 0; 
}

.modal-body p {
    color:#999999;
    font-size:15px;
    letter-spacing:1px;
    line-height: 30px;
    padding: 30px 30px 15px;
    text-align:left;
}

.modal-content {
    width: 600px;
    height: 720px;
}

button.close {
    color: #a0260f; 
    font-size: 54.6px;
    font-weight: 700;
    opacity: 1;
    height: 40px;
    line-height: 1;
    text-shadow:#ffffff 0px 1px 0px
}
button.close:hover {
    color: #034646;
    border: none;
}

/* MORE */
.more__content{
    display: flex;
    background-color: #00CDCE;
}

.more__content .more__video {
    width: 50%;
    background-image: url("../images/video.jpg");
    background-position:  top;
    background-size: cover;
}

.more__text {
    width: 50%;
    margin: 0 77px;
}

.more__content .more__text h2 {
    margin: 0;
    margin: 42px 0 21px ;
    font-size: 42px;
    line-height: 46.2px;
}

.more__content .more__text p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 2em;
    text-align: center;
    padding: 0;
}

.more__content .more__text .more__button {
    display: flex;
    justify-content: center;
    margin: 2rem 0 4rem;
}

/* Video button */
.more__video {
    position: relative;
}

.play-icon {
    padding: 1.2rem 1.3rem;
    background-color: #00cece6b;
    border-radius: 55%;
    position: absolute;
    bottom: 37%;
    right: 45%;
}
.play-icon .fa-play-circle {
    color: white;
    font-size: 30px;
    transform: translateY(1px);
}


/* Portfolio */
.portfolio {
    padding: 70px 0;
}

.portfolio__item {
    position: relative;
    width: 365px;
    margin: 0;
}

.portfolio__container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 20px;
}

.portfolio__item img{
    width: 100%;
}

.portfolio__item figcaption {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    text-align: center;
    opacity: 0;
    transition: all .5s;
}

.portfolio__item:hover figcaption {
    opacity: 1;
}

.portfolio__text {
    padding: 22.5px 60px;
    background-color: rgba(0, 0, 0, 0.6);

}

.portfolio__text h3 {
    margin-bottom: 18px;
    padding: 29.25px 0;
    border-top: 1px solid #00cdce;
    border-bottom: 1px solid #00cdce;
    color: #00cdce;
    text-align: center;
    text-transform: uppercase;
    font-size: 22.5px;
    line-height: 24.75px;
}

.portfolio__text p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 21.4286px;
}

/* subscribe */
.subscribe {
    padding: 70px 0;
    background-color: #00CDCE;
}
.subscribe__content {
    width: 70%;
    margin: 0 auto;
    
}

.subscribe__content p {
    font-size: 15px;
    color: #ffffff;
    padding: 1em 11em;
    text-align: center;
}

.subscribe__content  form {
    width: 50%;
    margin: 0 auto;
}

.subscribe__content  input {
    width: 100%;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    border: none;
}

.subscribe__content  input:focus {
    outline: none;
}

.subscribe__button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subscribe__button button{
    margin-top: 19.2px;
    padding: 6px 50px;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
    transition: all .5s;
}
.subscribe__button button:hover {
    background-color: white;
    color: black;
}

/* AGENTS */
.agents {
    padding: 70px 0;
}

.agents__container {
    display: flex;
    justify-content: center;
}

.agents__item {
    padding: 0 15px;
}

.agents__item img {
    width: 100%;
}
.agents__text {
    padding: 21px 14px;
    background: rgba(0, 0, 0, 0.79);
    text-align: center;
}

.agents__item p {
    margin: 0;
    font-size: 12.6px;
    color: white;
    line-height: 18px;
}

.agents__item h3 {
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 5px;
    color: #00cdce;
}

.agents__item:hover h3 {
    color: white;
}
.agents__icon {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.agents__icon i {
    color: white;
    border: 2px solid white;
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 12.5px;
    transition: all .5s;
}

.agents__icon .icon1:hover {
    background-color: #3b5998;
}
.agents__icon .icon2:hover {
    background-color: #55acee;

}
.agents__icon .icon3:hover {
    background-color: #f26522;
}

/* MAP */
.map {
    border: 2px solid #00CDCE;
    padding: 14px;
    background-color: #bbb;
}
.map iframe {
    width: 100%;
}

/* CONTACT */
.contact {
    padding: 70px 0;
}

.contact__left input {
    display: block;
}

.contact form {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
}

.contact .contact__textArea {
    grid-row: 1/4;
    grid-column: 2/3;
}

.contact form input,.contact textarea {
    padding: 11.2px 14px;
    border: none;
    border-bottom: solid 2px #999;
    background-color: rgb(239, 239, 239);
    transition: all .5s;
}


.contact  textarea {
    outline: none;
}
.contact  input:focus, .contact  textarea:focus{
    outline: none;
    border-color: #000;
}

.contact button {
    color: white;
    border: none;
    font-size: 15.4px;
}
.contact button:hover {
    background-color: #00cdce;
    color: #000;
}

/*FOOTER*/
footer {
    padding: 2rem 0;
    background-color: #00cdce;
}

.footer__text{
    width: 60%;
    text-align: center;
}

.footer__text p {
    margin: 0;
    color: white;
}
.footer__text p a {
    color: red;
    transition: all .5s;
    text-decoration: none;
}
.footer__text p a:hover {
    color: white;
}

.footer__icon {
    width: 40%;
    display: flex;
    justify-content: center;

}

.footer__icon i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border:1px solid white ;
    margin: 9.5px;
    text-align: center;
    color: white;
    transition: all .5s;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.footer__icon .icon1:hover {
    color: #3b5998;
}
.footer__icon .icon2:hover {
    color: #55acee;
}
.footer__icon .icon3:hover {
    color: #f26522;
}
.footer__icon .icon4:hover {
    color: #45668e;
}

/* Back to top */
.backtotop {
    position: fixed;
    bottom: 40px;
    right: 50px;
}