.button__black {
    padding: $pd-1 + 3 $pd-0;
    transition: all 0.3s;
    background-color: $color-black-3;
    display: inline;
    &:hover {
        background-color: $color-yellow-0;
    }
    a {
        transition: all 0.3s;
        text-decoration: none;
        @include font-text($color-white-0, $fs-0 - 1, $fw-0);
        letter-spacing: 1px;
    }
    @include responsive("medium") {
        a {
            font-size: $fs-0 - 3;
        }
    }
}

.button__yellow {
    @extend .button__black;
    background-color: $color-yellow-0;
    &:hover {
        background-color: $color-white-0;
        a {
            color: $color-black-3;
        }
    }
}
