.cover {
    background-image: url(../img/cover.jpg);
    // @extend .backgroundImg;
    @extend %backgroundImg;
    height: 500px;
    position: relative;
    .cover__content {
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
        max-width: 500px;
        h1 {
            @include styleText($color-white-0, $fs-2, $fw-1);
        }
        p {
            @include styleText($color-white-0, $fs-3, $fw-0);
        }
        .cover__form {
            @include styleFormSearch($color-white-0, $color-white-0, $color-white-0,$color-black-light);
        }
    }

    @include responsive("small") {
        .cover__content {
            max-width: 400px;
            left: 10%;
        }
    }
    @media screen and (max-width:450px) {
        .cover__content {
            left: 50%;
            transform: translate(-50%,-50%);
            width: 300px;
        }
    }
}
