.headingTitle {
    text-align: center;
    margin-bottom: $mg-1;
    h2 {
        @include font-text($color-black-2, $fs-2, $fw-0);
        line-height: 1.5;
        letter-spacing: 2px;
        margin-bottom: $mg-0;
        padding-bottom: $pd-1 - 2;
        position: relative;
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            transform: translateX(-50%);
            bottom: -2px;
            left: 50%;
            height: 3px;
            width: 60px;
            background-color: $color-brown-0;
        }

    }
    
    p{
        width: 60%;
        color: $color-gray-0;
        line-height: 25px;
        margin: 0 auto;
    }
    @include responsive("medium") {
        h2 {
            font-size: $fs-0 + 3;
        }
        p {
        width: 80%;
        }
    }
}
