// Owl carousel
.owl-carousel {
    .owl-dots {
        margin-top: $mg-3;
        display: flex;
        justify-content: center;
        .owl-dot {
            width: 12px;
            height: 12px;
            background-color: #eaeaea;
            margin: 5px 7px;
            border-radius: 50%;
            &.active {
                background-color: #cecece;
            }
        }
    }
}
