*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: $pd-1;
    line-height: $light-height-0;
    color: $color-black-0;
    background-color: $color-white-0;
}