// .backgroundImg{
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

//PlaceHolder
%backgroundImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}