// Khong tham so
// @mixin styleText {
//     color: white;
//     font-size: 13px;
// }

// Co tham so
@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($color, $bg-color, $bd-color, $fs, $fw, $pd-y, $pd-x) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $bd-color;
    font-size: $fs;
    font-weight: $fw;
    padding: $pd-y $pd-x;
    cursor: pointer;
    border-radius: 0;
    transition: all .5s;
}

@mixin hoverButton($color, $bg-color, $bd-color) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $bd-color;
}

@mixin styleFormSearch($bg-color, $bg-color-focus, $border-color) {
    .input-group {
        background-color: $bg-color;
        .form-control {
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;
            color: $color-black-light;
            transition: all 0.5s;
            border-radius: 0;
            &::placeholder {
                color: $color-black-light;
            }
            &:focus {
                background-color: $bg-color-focus;
                border-top-color: $border-color;
                border-bottom-color: $border-color;
                border-left-color: $border-color;
            }

            &:focus + .input-group-append {
                .input-group-text {
                    background-color: $bg-color-focus;
                    border-top-color: $border-color;
                    border-bottom-color: $border-color;
                    border-right-color: $border-color;
                }
            }
        }
        .input-group-append {
            .input-group-text {
                background-color: transparent;
                border-color: transparent;
                color: $color-red-0;
                transition: all 0.5s;
                border-radius: 0;
                // & parent selector
                &:hover {
                    color: $color-white-0;
                    background-color: $color-red-0;
                }
            }
        }
    }
}

@mixin responsive($Screen) {
    @if map-has-key($map: $breakpoints, $key:$Screen ){
        $value: map-get($map: $breakpoints, $key: $Screen);
        @media screen and (max-width:$value) {
            @content;
        }
    }
    @else{
        @warn "`{$Screen}` isn't exist in breakpoints"
    }
    
}
