.courses {
    margin: $mg-1 0;
    .courses__content {
        width: 90%;
        margin: auto;
        .row {
            margin: 0;
        }
        .courses__left {
            background-color: $color-gray-1;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            h2 {
                @include styleText($color-black-0, $fs-3 + 1, $fw-0);
            }
        }
        #coursesTab {
            margin-bottom: $mg-1;
            .nav-link {
                &:focus{
                    border-color: transparent;
                }
                @include styleText($color-black-0, $fs-0, $fw-0);
                &:hover {
                    border: 1px solid transparent;
                    @include styleText($color-blue-0, $fs-0, $fw-0);
                }
                &.active {
                    border: none;
                    border-bottom: $fs-0 / 3 solid $color-blue-0;
                }
            }
        }
    }

    @include responsive("screen-1") {
        .card {
            .card-body{
                .card-title{
                    font-size: $fs-1;
                    margin-bottom: $mg-0 + 5;
                }
            }
        }
    }
    @include responsive("medium") {
        .courses__content {
            .courses__left{
                padding: $pd-3;
            }
        }
    }
}
