.jobs{
    background-color: $color-gray-6;
    .jobs__content{
        .row{
            padding:$pd-0 0;
        }
        .jobs__item{
            padding: $pd-3;
            margin: auto;
            max-width: 450px;
            text-align: center;
            h2{
                @include styleText($color-black-light,$fs-3 + 1,$fw-1);
            }
        }
    }
    @include responsive("medium"){
        .jobs__content{
            .row{
                div{
                    &:first-child{
                        border-right: none!important;
                    }
                }
            }
        }
    }
}