.partners {
    background-color: $color-gray-6;
    padding-top: $pd-3;
    .partners__content {
        width: 70%;
        margin: auto;
        .partners__text {
            text-align: center;
        }
        .partners__img {
            display: flex;
            justify-content: space-between;
        }
    }
    @include responsive("extra-large") {
        .partners__content {
            width: 80%;
        }
    }
    @include responsive("large") {
        .partners__content {
            width: 90%;
        }
    }
    @include responsive("medium") {
        .partners__content {
            width: 60%;
            .partners__img {
                flex-wrap: wrap;
                .parners__item {
                    width: 50%;
                    text-align: center;
                    margin-bottom: $mg-0;
                }
            }
        }
    }
    @media screen and (max-width:500px) {
        .partners__content{
            .partners__img{
                .parners__item {
                    width: 100%;
                }
            }
        }
    }
}
