.viewing {
    padding: $pd-3 + 2 0;
    .viewing__content {
        width: 90%;
        margin:auto;
        h2{
            font-size: $fs-3 + 2;
        }
    }
    @include responsive("screen-1") {
        .card {
            .card-body{
                .card-title{
                    font-size: $fs-1;
                    margin-bottom: $mg-0 + 5;
                }
            }
        }
    }
}
